h1 {
    text-align: center;
    font-weight: bold;
    color: #eae6e5;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0b2545;
}

nav ul li{
    list-style-type: none;
}

#map {
    height: 350px;
    width: 350px;
}

#ft {
    width: 1505px;
}

section {
    background-color: #134074;
    h2 {
        color: #eae6e5;
    }

    p, ul, ol, table {
        background-color: #13315c;
    }
}

footer {
    background-color: #8da9c4;
}